.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

#hero {
  background-image: url(../assets/Hero-bg.png);
  background-size: cover;
  background-position: center;
  width: 1370px;
  height: 682px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero .hero-content {
  width: 720px;
  margin-bottom: 40px;
}

.group-container {
  text-align: center;
  margin-bottom: 45px;
}

/* Group */
#hero .hero-content .group {
  width: 210.28px;
  height: 210px;
  margin-top: 0%;
  align-items: center;
  justify-content: center;
  background-position: center;
}

/* "In the near future, I hope to become a Developer." */
#hero .hero-content .banner-heading {
  position: static;
  width: 798px;
  height: 136px;
  font-size: 40px;
  margin-bottom: 40px;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 14px 0px;
}

/* Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. */
#hero .hero-content .subtitle {
  font-size: 13px;
  text-align: center;
  letter-spacing: 0%;
  position: static;
  width: 762px;
  height: 40px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 20px 0px;
  text-justify: auto;
}

.btn-container {
  text-align: center;
  margin-top: 100px;
}

.btn {
  padding: 14px 18px 14px 18px;
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  border: none;
}

.section-title {
  color: rgb(13, 19, 33);
  font-family: Open Sans;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}

.section-description {
  font-size: 13px;
  font-family: Open Sans;
  text-align: center;
  color: rgb(13, 19, 33);
  margin-top: 30px;
}

/* about style */
.about {
  border-radius: 16px;
  padding: 110px 130px;
  background: rgba(13, 19, 33, 0.02);
  margin-top: 40px;
}

.about-items {
  display: grid;
  justify-content: left;
  padding: 48px;
  border-radius: 16px;

  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

.secondary-bg {
  border-radius: 16px;
  padding: 110px 130px;
  background: rgba(13, 19, 33, 0.02);
}

/* main style */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* I will Do Coding and Change The World */
.item-title {
  color: rgba(13, 19, 33, 0.7);
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  width: 70%;

  text-align: left;
  margin-top: 40px;

  width: 390px;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.item-description {
  color: rgb(13, 19, 33);
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  width: 70%;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
  margin-top: 24px;
}

.item-button {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  color: rgb(13, 19, 33);
  position: static;
  width: 135px;
  height: 43px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  padding: 14px 18px 14px 18px;
  margin-top: 24px;
}

.item-image {
  width: 283.56px;
  height: 237.01px;
  margin-top: 100px;
}

.layout-image {
  display: flex;
}

.item-video {
  width: 860px;
  height: 484px;
  border-radius: 16px;
  margin: 10px 0px;
  padding: 32px;
  align-self: stretch;
  border: 1px solid rgba(13, 19, 33, 0.2);
  margin-top: 30px;
}
/* skills section styles */
.skills-container {
  display: flex;
  gap: 24px;
  justify-content: flex-start;
  margin-top: 30px;
}

.skill-1 {
  border-radius: 16px;
  padding: 30px;
  background: rgba(255, 76, 30, 0.05);
}
.skill-2 {
  border-radius: 16px;
  padding: 30px;
  background-color: rgba(0, 76, 232, 0.05);
}
.skill-3 {
  border-radius: 16px;
  padding: 30px;
  background-color: rgba(255, 223, 0, 0.05);
}

.skill-title {
  margin-top: 16px;
  margin-bottom: 12px;
}

.skill-description {
  margin-top: 12px;
  margin-bottom: 16px;
}

/* support part starts here */
.handshake {
  background-image: url(../assets/handshake.jpg);
  width: 1140px;
  height: 314px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  margin-top: 40px;
  background: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2),
    url(Email);
}

.hand-support {
  text-align: center;
}

.support-title {
  font-size: 32px;
  color: rgb(255, 255, 255);
  padding: 60px 0px 0px 0px;
}

.support-description {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 30px;
  margin-top: 15px;
}

.QnA {
  position: static;
  width: 548px;
  height: 57px;
  padding: 19px 20px 19px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
}

.finish {
  position: static;
  width: 120px;
  height: 58px;
  padding: 17px 20px 17px 20px;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  background: rgb(255, 255, 255);
}
